<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
<div class="inputs">
    <h3>Add a New Dog:</h3>
    <label>Name:
      <input type="text" [(ngModel)]="dog.name" placeholder="Enter name">
    </label>
    <br>
    <label>Weight:
      <input type="text" [(ngModel)]="dog.weight" placeholder="Enter weight">
    </label>
    <span *ngIf="dog.weight < 10" [ngClass]="{'warning' : dog.weight < 5, 'message': true}">{{dog.name}} is underweight!</span><br>
    <label>D/O/B:
    <input type="date" [(ngModel)]="dog.birthDate" placeholder="Enter birthdate">
    </label>
    <br>
    <button *ngIf="!dog.id" (click)="addDog()" style="border-radius: 5px; outline: none;background-color: rgb(137, 168, 179);">add</button>
    <button *ngIf="dog.id" (click)="editDog(dog)" style="border-radius: 5px; outline: none;background-color: rgb(137, 168, 179);">edit</button>
    <button *ngIf="dog.id" (click)="clearDog()" style="border-radius: 5px; outline: none;background-color: rgb(137, 168, 179);">cancel</button>
  </div>
</div>
</div>
</div>




<!-- <h3>Add a new dog </h3>
<div class="center-align">

      <div>
        <label>Name:
          <input type="text" [(ngModel)]="dogName" placeholder="Name" />
        </label>
        <label>Weight:
          <input type="text" [(ngModel)]="dogWeight" placeholder="Weight" />
        </label>
        <label>Birthday:
          <input type="date" [(ngModel)]="birthDate" placeholder="Birthday" />
        </label>
        <input type="button" name="btnAddDog" (click)="addDog()" value="Add dog" />
      </div>

      <span *ngIf="dogWeight < 10" [ngClass]="{'warning' : dogWeight < 5, 'message': true }">{{dogName}} is underweight</span>

      </div> -->
