
<!--The content below is only a placeholder and can be replaced.-->
<div class="bone-container grow" style="text-align:center">
<img src='http://moziru.com/images/biscuit-clipart-the-dog-1.png' />
<h1 class="dog-bone">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Golden_star1.svg/2000px-Golden_star1.svg.png" height="42"
    width="auto" align="bottom" />{{ title }}
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Golden_star1.svg/2000px-Golden_star1.svg.png"
    height="42" width="auto" align="bottom" />
</h1>
</div>
<app-dogs></app-dogs>

